*.rar filter=lfs diff=lfs merge=lfs -text
*.sql filter=lfs diff=lfs merge=lfs -text
swarm-models/byp-all-tools/**/*.rar filter=lfs diff=lfs merge=lfs -text
swarm-models/byp-all-tools/**/*.sql filter=lfs diff=lfs merge=lfs -text
